.homepage-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-title {
  font-size: 1.25rem;
}

.homepage-article li {
  margin-bottom: 10px;
  padding: 2px;
  border-style: none solid solid none;
}
